<template>
  <div class="locale-changer">
    <div class="dropdown dropdown-hover">
      <label
        tabindex="0"
        class="btn m-1"
      >
        <flag
          :iso="languages[$i18n.locale].flag"
          :squared="false"
        />
        {{ $i18n.locale }}
      </label>
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li
          v-for="locale in $i18n.availableLocales"
          :key="`locale-${locale}`"
          :value="locale"
          @click="changeLocale(locale)"
        >
          <div class="text-black">
            <flag
              :iso="languages[locale].flag"
              :squared="false"
            /> {{ $t(languages[locale].title) }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { LANGUAGES } from '../../constants';
import { saveLocale} from '../../utils';
export default {
    name: 'LocaleSwitcher',
    data() {
        return {
            languages: LANGUAGES
        }
    },
    methods: {
        changeLocale(locale) {
            this.$i18n.locale = locale;
            saveLocale(locale)
        }
    }
}
</script>