
<template>
  <header class="w-full p-4 bg-blue-400 dark:text-gray-100">
    <div class="navbar bg-blue-400">
      <div class="navbar-start lg:w-1/4">
        <div class="dropdown">
          <label
            tabindex="0"
            class="btn btn-ghost lg:hidden"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            /></svg>
          </label>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li
              v-for="link in navLinks" 
              :key="link.label"
              class="flex"
            >
              <router-link
                :to="link.path"
              >
                {{ link.label }}
              </router-link>
            </li>  
          </ul>
        </div>
        <a class="btn btn-ghost normal-case text-xl">{{ $t('coffret') }}</a>
      </div>
      <div class="hidden lg:flex w-2/4">
        <ul class="flex gap-4 w-full items-center justify-between">
          <li
            v-for="link in navLinks" 
            :key="link.label"
            class="flex"
          >
            <router-link
              :to="link.path"
              class="btn btn-ghost rounded-none text-white text-xl hover:bg-transparent hover:animate-underline"
            >
              {{ link.label }}
            </router-link>
          </li>
        </ul>
      </div>
      <div class="hidden lg:flex justify-end w-1/2 items-center h-full lg:w-1/3 lg:pl-8">
        <div class="flex gap-8 items-center">
          <locale-switcher
            class="self-start"
          />
          <div v-if="isAuth">
            {{ $t('navbar_welcome', {username: $store.state.user.username}) }}
          </div>
        </div>
        <div class="flex items-center justify-end flex-1">
          <div
            v-if="isAuth"
            class="flex items-center flex-shrink-0 gap-4"
          >
            <button
              class="btn btn-outline text-white border-white px-6"
              @click="logout"
            >
              {{ $t('navbar_logout') }}
            </button>
          </div>
          <div
            v-else  
            class="flex items-center flex-shrink-0 gap-4"
          >
            <router-link
              to="/register"
              class="btn btn-link text-white"
            >
              {{ $t('navbar_signin') }}
            </router-link>
            <router-link 
              to="/"
              class="btn btn-outline text-white border-white px-6"
            >
              {{ $t('navbar_signup') }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import { 
    mapActions,
    mapGetters,
    mapState
} from 'vuex';
import LocaleSwitcher from './LocaleSwitcher.vue';
export default {
    name: 'NavBar',
    components: {
        LocaleSwitcher
    },
    data() {
        return {
        
            navLinks: [
                {
                    label: this.$t('navbar_rewards'),
                    path: {name: 'reward_list'},
                },
                {
                    label: this.$t('navbar_challenges'),
                    path: '/',
                },
                {
                    label: this.$t('navbar_team'),
                    path: '/',
                },
            ]
        }
    },
    computed: {
        ...mapState({
            isAuth: state => state.auth.isAuth
        }),
        ...mapGetters([
            'getUsername'
        ])
    },
    methods: {
        ...mapActions([
            'logout'
        ])
    }
}
</script>
<style scoped>

</style>