{% extends "account/email/base_message.html" %}

{% load i18n %}

{% block head_title %}{% trans "Réinitialisation de mot de passe" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>

    <p>
        {% blocktrans %}
        You're receiving this e-mail because you or someone else has requested a password for your user account.    
        It can be safely ignored if you did not request a password reset. Click the link below to reset your password
        {% endblocktrans %}
    </p>
    <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    {% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}