<template>
  <section>
    <div class="flex  flex-nowrap justify-center  gap-12 mt-24 ">
      <h4 class="text-4xl">
        Detail sur un coffret
      </h4>
      <router-link
        to="/reward-list"
        class="btn "
      >
        Liste des récompenses
      </router-link>
    </div>
  </section>
  <section class="p-6 mt-12 text-black-100">
    <form
      novalidate=""
      action=""
      class="container flex flex-col mx-auto  space-y-12 ng-untouched ng-pristine ng-valid"
    >
      <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm bg-gray-100">
        <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
          <div class="col-span-full sm:col-span-3">
            <label
              for="titre"
              class="text-sm"
            >Nom</label>
            <input
              id="nom"
              type="text"
              placeholder="Nom"
              class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400 border-gray-700 text-gray-900"
            >
          </div>
          <div class="col-span-full sm:col-span-3">
            <label
              for="type"
              class="text-sm"
            >Code</label>
            <input
              id="type_text"
              type="text"
              placeholder="Numéro de coupon Ou Code secret"
              class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400 border-gray-700 dark:text-gray-900"
            >
          </div>
          <div class="col-span-full sm:col-span-3">
            <label
              for="montant"
              class="text-sm"
            >Argent</label>
            <input
              id="type_amount"
              type="text"
              placeholder="0"
              class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400 border-gray-700 dark:text-gray-900"
            >
          </div>
          <div class="col-span-full sm:col-span-3">
            <label
              for="rule"
              class="text-sm"
            >Qui Gagne ?</label>
            <input
              id="rule"
              type="text"
              placeholder="le premier ou quizz ou les 5 premiers ?"
              class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400 border-gray-700 dark:text-gray-900"
            >
          </div>
          <div class="col-span-full">
            <label
              for="description"
              class="text-sm"
            >Description de la récompense</label>
            <textarea
              id="description"
              placeholder="Description"
              class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400 dark:border-gray-700 dark:text-gray-900"
            />
          </div>
          <label class="flex ">
            <span>Bon d'achat ou Code QR etc</span>
          </label>
          <input
            type="file"
            class="flex w-96 text-sm text-slate-500
                        file:mr-4 file:py-2 file:px-2
                        file:rounded-full file:border-0
                        file:text-sm file:font-semibold
                        file:bg-violet-50 file:text-blue-400
                        hover:file:bg-violet-100
                        "
          >
          <div class="col-span-full">
            <div class="flex justify-end space-x-3">
              <button
                type="button"
                class="px-4 py-2 border rounded-md bg-blue-200 text-black"
              >
                Mise à jour
              </button>
              <button
                type="button"
                class="px-4 py-2 border rounded-md bg-rose-300 text-black"
              >
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
</template>
<script>
export default {
    name: 'RewardDetail',
    created() {
        this.getRewardDetail();
    },
    methods: {
        async getRewardDetail() {
            try {
                const result = await this.$axios.single.get('planner/api/reward/');
                console.log(result)
            } catch (error) {
                console.log(error)
            }
        }
    }
}
</script>