<template>
  <div v-if="notFoundReward">
    not found
  </div>
  <div
    v-else
    class="w-4/5 flex flex-col"
  >
    <section>
      <div class="flex flex-nowrap justify-center  gap-12 mt-24 ">
        <h4 class="text-4xl">
          {{ $t('page_reward_header') }}
        </h4>
        <router-link
          :to="{name: 'reward_list'}"
          class="btn"
        >
          {{ $t('reward_list') }}
        </router-link>
      </div>
    </section>
    <section class="container flex justify-center p-6 mt-12 text-black-100 bg-gray-100">
      <form
        class="w-2/3 flex flex-col justify-center space-y-12"
      >
        <fieldset class="w-full grid grid-cols-6 gap-4 rounded-md shadow-sm">
          <div class="col-span-full sm:col-span-3">
            <m-input
              id="name"
              v-model:value="name"
              :label="$t('form_reward_name')"
              :placeholder="$t('form_reward_name')"
            />
          </div>
          <div class="col-span-full sm:col-span-3">
            <m-select
              v-model:value="rule"
              :label="$t('form_reward_mode')"
            >
              <option
                v-for="mode in rewardRules"
                :key="mode.label"
                :value="mode.value"
              >
                {{ mode.label }}
              </option>
            </m-select>
          </div>
          <div class="col-span-full">
            <m-textarea
              id="description"
              v-model:value="description"
              :label="$t('form_reward_description_label')"
              :placeholder="$t('form_reward_description')"
            />
          </div>
          <add-reward-content
            class="col-span-full"
            :edit-reward="editReward"
            @save="saveContent"
          />
        </fieldset>
        <div class="flex justify-end space-x-3">
          <template v-if="id">
            <m-button
              :disabled="!isRewardValid || isRequesting"
              class="btn-info"
              @click="saveReward"
            >
              {{ $t('form_reward_update') }}
            </m-button>
            <m-button
              :disabled="!isRewardValid || isRequesting"
              class="btn-error"
              @click="deleteReward"
            >
              {{ $t('form_reward_delete') }}
            </m-button>
          </template>
          <m-button
            v-else
            :disabled="!isRewardValid || isRequesting"
            class="px-4 py-2 border rounded-md text-black border-gray-600"
            @click="saveReward"  
          >
            {{ $t('form_reward_create') }}
          </m-button>
        </div>
      </form>
    </section>
  </div>  
</template>
<script>
import { useVuelidate }from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import MButton from '../../components/UI/Button.vue';
import MInput from '../../components/UI/Input.vue';
import MTextarea from '../../components/UI/Textarea.vue'
import MSelect from '../../components/UI/Select.vue'
import AddRewardContent from '../../components/reward/AddRewardContent.vue';
import { NotificationMixin } from '../../mixins';
import { REWARD_RULES } from '../../constants';

export default {
    name: 'RewardCreate',
    components: {
        MButton,
        MInput,
        MTextarea,
        MSelect,
        AddRewardContent,
    },
    mixins: [
        NotificationMixin
    ],
    props:{
        id: {
            type: String,
            default: null,
        }
    },
    setup() {
        return {
            v$: useVuelidate(),
        }
    },
    data() {
        return {
            name: '',
            rule: '',
            description: '',
            type_image: undefined,
            type_amount: 0,
            type_text: '',
            rewardRules: REWARD_RULES,
            editReward: {},
            isRequesting: false,
        }
    },
    computed: {
        reward() {
            return this.editReward;
        },
        haveContent() {
            return this.editReward?.id
                || (
                    this.type_image
                    || this.type_text
                    || this.type_amount > 0
                )
        },
        isRewardValid() {
            return  this.haveContent
        },
        rewardData() {
            const formData = new FormData();
                
            if (this.editReward.type_image != this.type_image) {
                formData.append('type_image', this.type_image);
            }

            formData.append('name', this.name)
            formData.append('rule', this.rule)
            formData.append('description', this.description)
            formData.append('type_text', this.type_text)
            formData.append('type_amount', this.type_amount)
                
            return formData
        },
        notFoundReward() {
            return this.id && !this.reward.id
        }
    },
    watch: {
        editReward() {
            this.description= this.editReward?.description || '';
            this.name = this.editReward?.name || '';
            this.type_amount = this.editReward?.type_amount ?? 0;
            this.rule = this.editReward?.rule;
            this.type_image = this.editReward?.type_image,
            this.type_text = this.editReward?.type_text;
        },
    },
    async created() {
        if (this.id) {
            await this.getReward(this.id); 
        }
    },
    methods: {
        goToListPage() {
            this.$router.push({name: 'reward_list'})
        },
        async getReward(id) {
            const url = this.$routing.generate('reward', {id})
            try {
                const result = await this.$axios.single.get(url);
                this.editReward = result.data
            } catch (error) {
                this.$router.replace({name: 'reward_create'})
            }
        },
        saveContent(content) {
            this.type_amount = content.type_amount ?? 0;
            this.type_image = content.type_image,
            this.type_text= content.type_text;
        },
        async saveReward() {
            this.isRequesting = true;
            this.v$.$touch();

            if(this.v$.$invalid) {
                this.notifyError('invalid');
                this.isRequesting = false;

                return
            }
            this.id 
                ? await this.updateReward(this.id)
                : await this.createReward()
              
            this.goToListPage();
        },
        async createReward() {
            const url = this.$routing.generate('rewards')
            const data = this.rewardData;
            try {
                const result = await this.$axios.single.post(
                    url,
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }) 
            } catch (error) {
                console.log(error.response)          
            } finally {
              
                this.isRequesting = false;
            }
        },
        async updateReward(id) {
            const url = this.$routing.generate('reward', {id})
            const data = this.rewardData;
            try {
                const reslut = await this.$axios.single.put(
                    url,
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }) 
            } catch (error) {
                console.log(error.response)          
            } finally {
              
                this.isRequesting = false;
            }

        },
        async deleteReward() {
            const url = this.$routing.generate('reward', {id: this.id})
            const data = this.rewardData;
            this.isRequesting = true;
            try {
                const result = await this.$axios.single.delete(
                    url,
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })

                this.goToListPage();
            } catch (error) {
                console.log(error.response)          
            } finally {
              
                this.isRequesting = false;
            }
        }
    },
    validations () {
        return {
            name: { required },
            rule: { required },
            description: {required },
        }
    },
}
</script>