<template>
  <section>
    <div class="flex flex-wrap justify-center  gap-12 mt-24 ">
      <h4 class="text-4xl sm:1xl">
        Liste des récompenses
      </h4>
      <router-link
        :to="{name: 'reward_create'}"
        class="btn"
      >
        Créer une récompense
      </router-link>
    </div>
  </section>
  <section class="w-full flex justify-center">
    <ul
      id="reward_list"
      class="flex flex-wrap gap-12 mt-10 text-black-100 "
    >
      <li 
        v-for="reward in rewards"
        id="reward_list_item"
        :key="reward.id"
      >
        <reward-card :reward="reward"/>
      </li>
    </ul>
    <!-- <div class="flex card w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../assets/gift.png"
          alt="reward"
        >
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Bon de réduction
        </h2>
        <p>Description de la récompense avec quelques details</p>
        <div class="card-actions justify-between">
          <span>Type : fichier </span>
          <router-link
            to="/reward-detail"
            class="btn"
          >
            Détails
          </router-link>
        </div>
      </div>
    </div>

    <div class="flex card w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../assets/gift.png"
          alt="reward"
        >
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Bon de réduction
        </h2>
        <p>Description de la récompense avec quelques details</p>
        <div class="card-actions justify-between">
          <span>Type : Code</span>
          <button class="btn">
            Details
          </button>
        </div>
      </div>
    </div>

    <div class=" flex card w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="../../assets/gift.png"
          alt="reward"
        >
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Coupon
        </h2>
        <p>Description de la récompense avec quelques details</p>
        <div class="card-actions justify-between">
          <span>montant : 0 $</span>
          <button class="btn">
            Details
          </button>
        </div>
      </div>
    </div> -->
  </section>
</template>
<script>
import RewardCard from '../../components/reward/RewardCard.vue';
export default {
    name: 'RewardList',
    components: {
        RewardCard,
    },
    data() {
        return {
            rewards: []
        }
    },
    created() {
        this.getReward();
    },
    methods: {
        async getReward() {
            try {
                const result = await this.$axios.single.get(
                    this.$routing.generate('rewards')
                );
                this.rewards = result.data
            } catch (error) {
                console.log(error)
            }
        }
    }
}
</script>