<template>
  <div
    class="w-full h-full flex justify-center items-center"
    :class="{'c-pointer': !uploading}"
    @click="chooseImage"
  >
    <spinner
      v-if="uploading"
    />
    <font-awesome-icon
      v-else
      icon="camera"
      color="#656565"
      size="5x"
    />
    <input
      ref="fileInput"
      type="file"
      class="hidden flex-1"
      name="image[file]"
      accept=".jfif,.pjpeg,.jpeg,.pjp,.jpg,.png,.webp"
      @change="startUpload"
    >
  </div>
</template>

<script>
import {library} from '@fortawesome/fontawesome-svg-core';
import {faCamera} from '@fortawesome/free-solid-svg-icons';
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
import {NotificationMixin} from '../mixins';
import {
    MAX_FILE_BYTES_UPLOAD,
    MIB_BYTES,
} from '../constants';
import Spinner from './UI/Spinner.vue';

library.add(faCamera);

export default {
    name: 'ImageUploader',
    components: {
        FontAwesomeIcon,
        Spinner
    },
    mixins: [NotificationMixin],
    props: {
        type: {
            type: String,
            default: '',
        },
        purpose: {
            type: String,
            default: '',
        },
    },
    emits: [
        'upload'
    ],
    data() {
        return {
            uploading: false,
            image: null,
        };
    },
    methods: {
        chooseImage: function() {
            if (this.uploading) {
                return;
            }

            this.$refs.fileInput.click();
        },
        startUpload: function() {
            if (!this.$refs.fileInput.files) {
                return;
            }

            this.upload(this.$refs.fileInput.files[0]);
        },
        upload: async function(file) {
            if (file.size > MAX_FILE_BYTES_UPLOAD) {
                this.notifyError(this.$t('image_maxsize', this.translationsContext(file.size)));
                this.uploading = false;
                this.$refs.fileInput.value = '';

                return;

            }
            
            this.$emit('upload', file);
            
        },
        convertToMib(value) {
            return (value / MIB_BYTES).toFixed(2);
        },
        translationsContext(curruntSize) {
            return {
                maxSize: this.convertToMib(MAX_FILE_BYTES_UPLOAD),
                curruntSize: this.convertToMib(curruntSize),
            };
        },
    },
};
</script>
