<template>
  <div
    class="relative overflow-hidden aspect-square"
    :class="`image__${size}`"
    :tabindex="isTabIndex"
  >
    <div class="card w-full h-full shadow-xl image-full">
      <figure>
        <img
          v-if="imageUrl"
          :src="imageUrl"
        >
      </figure>
      <div class="card-body p-0 m-0">
        <div class="flex-1 flex items-center justify-center">
          <ImageUploader
            v-if="editable"
            :type="type"
            :purpose="purpose"
            @upload="setImage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImageUploader from './ImageUploader.vue';

export default {
    name: 'ImageViewer',
    components: {
        ImageUploader,
    },
    props: {
        image: {
            type: String,
            default: undefined,
        },
        editable: {
            type: Boolean,
            default: false,
        },
        type: {
            type: String,
            default: '',
        },
        purpose: {
            type: String,
            default: '',
        },
        size: {
            type: String,
            default: 'small',
        },
        fallback: {
            type: String,
            default: '',
        },
        imgClass: {
            type: String,
            default: '',
        },
    },
    emits: ['upload', 'update:image', 'change'],
    data() {
        return {
            currentImage: this.image,
        };
    },
    computed: {
        imageUrl: function() {
            return this.currentImage;
        },
        isTabIndex: function() {
            return this.editable ? 0 : -1;
        },
    },
    watch: {
        image: function() {
            this.currentImage = this.image;
        },
    },
    methods: {
        setImage(image) {
          
            const reader = new FileReader();
            reader.onload = (e) => {  
                this.currentImage = e.target.result;
            };
            reader.readAsDataURL(image);
            this.$emit('change', image);
            this.$emit('update:image', image)
            this.$emit('upload', image)
        },
    },
};
</script>
