<template>
  <dialog
    id="my_modal_1"
    class="modal"
    :class="{'modal-open': visible}"
  >
    <div class="modal-box">
      <m-button
        v-if="!embeded"
        class="btn-sm btn-circle btn-ghost absolute right-2 top-2"
        @click="closeModal"
      >
        ✕
      </m-button>
      <div class="flex flex-1 pt-12">
        <slot name="default" />
      </div>
      <div className="modal-action">
        <slot name="actions" />
      </div>
    </div>
  </dialog>
</template>
<script>
import { MButton } from './UI';
export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'Modal',
    components: {
        MButton
    },
    props: {
        visible: {
            type: Boolean,
            default: false,
        },
        embeded: {
            type: Boolean,
            default: false,
        }
    },
    emits: [
        'close'
    ],
    methods: {
        closeModal() {
            this.$emit('close');
        },
    }
}
</script>