<template>
  <div />
</template>

<script>
import {mapActions, mapMutations, mapState} from 'vuex';

export default {
    name: 'UserInit',
    props: {
        isSignedInWithTwitter: Boolean,
        userId: {
            default: null,
            type: String
        },
        userNickname: {
            default: null,
            type: String
        },
        hasPhoneVerified: Boolean,
        isPhoneVerificationPending: Boolean,
    },
    computed: {
        ...mapState('auth', [
            'isAuth',
        ]),
    },
    watch: {
        isAuth(value) {
            if(!value) {
                return;
            }
            
            this.initUser()
        }
    },
    methods: {
        ...mapMutations('user', [
            'setId',
            'setNickname',
        ]),
        ...mapActions('user', [
            'initUser'
        ])
    },
};
</script>