<template>
  <div class="flex justify-center">
    <m-button
      class="btn-wide btn-active btn-ghost"
      @click="modalVisible = true"
    >
      {{ $t('reward_content_select') }}
    </m-button>
    <modal
      :visible="modalVisible"
      @close="modalVisible = false"
    >
      <slot name="default">
        <div class="flex-1 flex flex-col gap-6">
          <div class="collapse collapse-plus bg-base-200">
            <input
              type="radio"
              name="my-accordion-3"
              class="w-full"
              checked="checked"
            > 
            <div class="collapse-title text-xl font-medium">
              {{ $t('form_reward_type_text_label') }}
            </div>
            <div class="collapse-content">    
              <div class="space-y-1 text-sm">
                <m-input
                  v-model:value="type_text"
                >
                  <template #errors>
                    <span v-if="v$.type_text.minLength.$invalid">
                      {{ v$.type_text.minLength.$message }}
                    </span>
                  </template>
                </m-input>
              </div>
            </div>
          </div>
          <div class="collapse collapse-plus bg-base-200">
            <input
              type="radio"
              class="w-full"
              name="my-accordion-3"
            > 
            <div class="collapse-title text-xl font-medium">
              {{ $t('form_reward_type_money_label') }}
            </div>
            <div class="collapse-content">
              <m-input
                id="amount"
                v-model:value="type_amount"
                type="number"
              />
            </div>
          </div>
          <div class="collapse collapse-plus bg-base-200">
            <input
              type="radio"
              class="w-full"
              name="my-accordion-3"
            > 
            <div class="collapse-title text-xl font-medium">
              {{ $t('form_reward_type_image_label') }}
            </div>
            <div class="collapse-content">
              <div class="w-2/3 mx-auto my-8">
                <ImageViewer
                  v-model:image="type_image"
                  editable
                  purpose="reward"
                />
              </div>
            </div>
          </div>
        </div>
      </slot>
      <template #actions>
        <m-button @click="save">
          save
        </m-button>
      </template>
    </modal>
  </div>
</template>
<script>
import { useVuelidate }from '@vuelidate/core';
import { minLength,
    decimal,
    minValue
} from '@vuelidate/validators';
import MButton  from '../UI/Button.vue';
import MInput from '../UI/Input.vue';
import Modal from '../modal.vue';
import ImageViewer from '../ImageViewer.vue';
import { 
    REWARD_CONTENT_AMOUNT_MIN,
    REWARD_CONTENT_TEXT_MIN
} from '../../constants';
import {
    NotificationMixin,
    CheckInputMixin,
} from '../../mixins';

export default {
    name: 'AddRewardContent',
    components: {
        ImageViewer,
        MButton,
        MInput,
        Modal,
    },
    mixins: [
        NotificationMixin,
        CheckInputMixin,
    ],
    props:{
        editReward: {
            type: Object,
            required: true,
        }
    },
    emits: ['save'],
    setup() {
        return {
            v$: useVuelidate(),
        }
    },
    data() {
        return {
            type_image: this.editReward.type_image,
            type_amount: this.editReward.type_amount || 0,
            type_text: this.editReward.type_text,
            modalVisible: false,
            isRequesting: false,
        }
    },
    computed: {
        reward() {
            return this.editReward || {};
        },
        haveContent() {
            return this.type_image
                || this.type_text
                || this.type_amount > 0
        },

    },
    methods: {
        save() {
            this.isRequesting = true;
            
            if (!this.haveContent) {
                this.notifyInfo('veuillez select au moins un')
                this.isRequesting = false;

                return
            }

            this.v$.$touch();

            if (this.v$.$invalid) {
                this.isRequesting = false;
                
                return
            }
            
            this.$emit('save', {
                type_amount: this.type_amount,
                type_image: this.type_image,
                type_text: this.type_text,
            })

            this.isRequesting = false
            this.modalVisible = false;
        },
    },
    validations () {
        return {
            type_amount: { 
                decimal,
                minValue: minValue(REWARD_CONTENT_AMOUNT_MIN)
            },
            type_text: {
                minLength: minLength(REWARD_CONTENT_TEXT_MIN),
            },
        }
    },
}
</script>