<template>
  <div class="flex card w-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="../../assets/gift.png"
        alt="reward"
      >
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        {{ reward.name }}
      </h2>
      <p> {{ reward.description }} </p>
      <div class="card-actions justify-between">
        <div class="flex-1 self-center flex flex-wrap gap-4">
          <span 
            v-if="reward.type_text"
            class="min-w-16 badge badge-info uppercase"
          >
            {{ $t('reward_content_badge_text') }}
          </span>
          <span
            v-if="reward.type_amount > 0"
            class="min-w-16 badge badge-success uppercase"
          >
            {{ $t('reward_content_badge_money') }}
          </span>
          <span
            v-if="reward.type_image"
            class="min-w-16 badge badge-warning uppercase"
          >
            {{ $t('reward_content_badge_image') }}
          </span>
        </div>
        <div class="self-center">
          <router-link
            :to="{name: 'reward_detail', params: {id: reward.id}}"
            class="btn"
          >
            Détails
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    name: 'RewardCard',
    props: {
        reward: {
            type: Object,
            required: true,
        },
    },
}
</script>