<script>
import { useVuelidate }from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { NotificationMixin } from '../../mixins'
import { MButton, MInput } from '../../components/UI';

import { mapActions } from 'vuex';

export default {
    name: "LoginPage",
    components: {
        MButton,
        MInput
    },
    mixins: [ NotificationMixin ],
    setup: () => {
        return {
            v$: useVuelidate()
        }
    },
    data() {
        return {
            username: '',
            password: '',
            isRequesting: false,
        };
    },
    computed: {
        canRegister() {
            return !this.v$.$invalid && !this.isRequesting
        },
    },
    methods: {
        ...mapActions([
            'doLogin'
        ]),
        async submitForm() {
            try {
                this.isRequesting = true;
                await this.doLogin({
                    username: this.username,
                    password: this.password,
                    redirectTo: this.$route.query.redirect,
                });

            } catch (error) {
                this.notifyError(error.response?.errors[0] ?? 'something wrong')
            } finally {
                this.isRequesting = false;
            }
        },
    },
    validations () {
        return {
            username: { required },
            password: {required },
        }
    },
};

</script>

<template>
  <div class="grid grid-cols-1 sm:grid-cols-2 place-items-center">              
    <div class="grid w-full max-w-md p-8 space-y-3 rounded-lg bg-blue-400 text-gray-100 mt-12 mb-12">
      <h1 class="text-2xl font-bold text-center">
        {{ $t('login_form_header') }}
      </h1>
      <form
        class="space-y-6 ng-untouched ng-pristine ng-valid"
      >
        <div class="space-y-1 text-sm">
          <m-input
            v-model:value="v$.username.$model"
            type="text"
            name="username"
            :label="$t('form_username')"
            :placeholder="$t('form_username')"
          >
            <template #errors>
              <template v-if="v$.username.$dirty && v$.username.required.$invalid">
                {{ v$.username.required.$message }}
              </template>
            </template>
          </m-input>
        </div>
        <div class="space-y-1 text-sm">
          <m-input
            v-model:value="v$.password.$model"
            type="text"
            name="password"
            :label="$t('form_password')"
            :placeholder="$t('form_password')"
            is-password
          >
            <template #errors>
              <template v-if="v$.password.$dirty && v$.password.required.$invalid">
                {{ v$.password.required.$message }}
              </template>
            </template>
          </m-input>
          <div class="flex justify-end text-xstext-white">
            <router-link
              :to="{ name: 'password_reset'}"
            >
              {{ $t('login_forgot_password') }}
            </router-link>
          </div>
        </div>
        <m-button
          class="w-full h-16 text-center rounded-lg text-gray-900 bg-blue-500"
          :loading="isRequesting"
          :disabled="!canRegister"
          @click="submitForm"
        >
          {{ $t('login_form_button') }}
        </m-button>
      </form>
      <div class="flex items-center pt-4 space-x-1">
        <div class="flex-1 h-px sm:w-16 dark:bg-gray-700" />
        <p class="px-3 text-sm text-white">
          {{ $t('login_with_social_accounts') }}
        </p>
        <div class="flex-1 h-px sm:w-16 dark:bg-gray-700" />
      </div>
      <div class="flex justify-center space-x-4">
        <button
          aria-label="Log in with Google"
          class="p-3 rounded-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            class="w-5 h-5 fill-current"
          >
            <path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z" />
          </svg>
        </button>
        <button
          aria-label="Log in with Twitter"
          class="p-3 rounded-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            class="w-5 h-5 fill-current"
          >
            <path d="M31.937 6.093c-1.177 0.516-2.437 0.871-3.765 1.032 1.355-0.813 2.391-2.099 2.885-3.631-1.271 0.74-2.677 1.276-4.172 1.579-1.192-1.276-2.896-2.079-4.787-2.079-3.625 0-6.563 2.937-6.563 6.557 0 0.521 0.063 1.021 0.172 1.495-5.453-0.255-10.287-2.875-13.52-6.833-0.568 0.964-0.891 2.084-0.891 3.303 0 2.281 1.161 4.281 2.916 5.457-1.073-0.031-2.083-0.328-2.968-0.817v0.079c0 3.181 2.26 5.833 5.26 6.437-0.547 0.145-1.131 0.229-1.724 0.229-0.421 0-0.823-0.041-1.224-0.115 0.844 2.604 3.26 4.5 6.14 4.557-2.239 1.755-5.077 2.801-8.135 2.801-0.521 0-1.041-0.025-1.563-0.088 2.917 1.86 6.36 2.948 10.079 2.948 12.067 0 18.661-9.995 18.661-18.651 0-0.276 0-0.557-0.021-0.839 1.287-0.917 2.401-2.079 3.281-3.396z" />
          </svg>
        </button>
        <button
          aria-label="Log in with GitHub"
          class="p-3 rounded-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            class="w-5 h-5 fill-current"
          >
            <path d="M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z" />
          </svg>
        </button>
      </div>
      <p class="text-xs text-center sm:px-6 text-white">
        {{ $t('auth_not_have_account.message') }}
        <router-link
          :to="{name: 'Register'}"
          class="underline dark:text-gray-100"
        >
          {{ $t('auth_not_have_account.action') }}
        </router-link>
      </p>
    </div>

    <div class="grid place-items-center">
      <img
        src="../../assets/inscription.png"
        class="object-cover"
        alt=""
      >
    </div>
  </div>
</template>

<style scoped>
</style>