<template>
  <div class="flex-1 border-2 py-24 grid grid-cols-2 place-items-center">
    <div class="h-full w-full grid place-items-center">
      <img
        src="../../assets/password_reset.png"
        class="w-2/3 object-contain"
        alt=""
      >
    </div>
    <div class="flex flex-col h-full w-full max-w-md p-8 space-y-3 rounded-lg bg-blue-400 text-gray-100 mt-12 mb-12">
      <h1 class="text-2xl font-bold text-center">
        {{ $t('reset_password_form_header') }}
      </h1>
      <form
        v-if="!isDone"
        class="flex-1 flex flex-col justify-center space-y-6 "
      >
        <div class="w-full space-y-1 text-sm">
          <m-input
            v-model:value="v$.password.$model"
            type="text"
            name="password"
            :label="$t('form_new_password')"
            :placeholder="$t('form_new_password')"
            is-password
          >
            <template #errors>
              <template v-if="v$.password.$dirty && v$.password.required.$invalid">
                {{ v$.password.required.$message }}
              </template>
            </template>
          </m-input>
        </div>
        <div class="w-full space-y-1 text-sm">
          <m-input
            v-model:value="v$.password_confirm.$model"
            type="text"
            name="Password"
            :label="$t('form_confirm_password')"
            :placeholder="$t('form_confirm_password')"
            is-password
          >
            <template #errors>
              <template v-if="v$.password_confirm.$dirty && v$.password_confirm.$invalid">
                les deux mots de passe doivent etre identiques
              </template>
            </template>
          </m-input>
        </div>
        <m-button
          class="w-full h-16 text-center rounded-lg text-gray-900 bg-blue-500"
          :loading="isRequesting"
          :disabled="!canResetPassword"
          @click="submitForm"
        >
          {{ $t('reset_password') }}
        </m-button>
      </form>
      <div
        v-else 
        class="flex-1 flex items-center justify-center"
      >
        <font-awesome-icon
          icon="fa-solid fa-circle-check"
          style="color: /* #1faa1d */ green;"
          size="10x"
        />
      </div>
    </div>
  </div>
</template>
  
<script>
import { useVuelidate }from '@vuelidate/core';
import { required, sameAs } from '@vuelidate/validators';
import {library} from '@fortawesome/fontawesome-svg-core';
import { faCheckCircle } from '@fortawesome/free-solid-svg-icons';
import { NotificationMixin } from '../../mixins'
import { MButton, MInput } from '../../components/UI';

library.add(faCheckCircle);

export default {
    name:'PasswordResetConfirmPage',
    components: {
        MButton,
        MInput,
    },
    mixins: [ NotificationMixin ],
    props: {
        'uid': {
            type: String,
            required: true
        },
        'token': {
            type: String,
            required: true
        },
    },
    setup: () => {
        return {
            v$: useVuelidate()
        }
    },
    data () {
        return {
            password: '',
            password_confirm: '',
            isRequesting: false,
            isDone: false,
        }
    },
    computed: {
        canResetPassword() {
            return !this.v$.$invalid && !this.isRequesting
        },
    },
    methods: {
        async submitForm() {
            try {
                this.isRequesting = true;
                const formData = {
                    new_password1: this.password,
                    new_password2: this.password_confirm,
                    uid: this.uid,
                    token: this.token,
                }
                const result = await this.$axios.single.post(
                    this.$routing.generate('password_reset_confirm'),
                    formData
                );
                this.notifySuccess('mot de passe reinitialisé');
                this.isDone = true;
            } catch (error) {
                const firstError = error.response?.errors[0];
                this.notifyError(firstError ?? 'something wrong')
            } finally {
                this.isRequesting = false;
            }  
        },
    },
    validations () {
        return {
            password: { required },
            password_confirm: { same: sameAs(this.password)},
        }
    },
}
</script>