<template>
  <div class="flex-1 border-2 py-24 grid grid-cols-2 place-items-center">
    <div class="h-full w-full grid place-items-center">
      <img
        src="../../assets/password_reset.png"
        class="w-2/3 object-contain"
        alt=""
      >
    </div>
    <div class="flex flex-col h-full w-full max-w-md p-8 space-y-3 rounded-lg bg-blue-400 text-gray-100 mt-12 mb-12">
      <h1 class="text-2xl font-bold text-center">
        {{ $t('reset_password_form_header') }}
      </h1>
      <form
        v-if="!isLinkSend"
        class="flex-1 flex flex-col justify-center space-y-6 "
      >
        <div class="w-full space-y-1 text-sm">
          <m-input
            v-model:value="v$.email.$model"
            type="text"
            name="email"
            :label="$t('form_email')"
            :placeholder="$t('form_email')"
          >
            <template #errors>
              <template v-if="v$.email.email.$invalid">
                should be email
              </template>
              <template v-if="v$.email.$dirty && v$.email.required.$invalid">
                {{ v$.email.required.$message }}
              </template>
            </template>
          </m-input>
        </div>
        <m-button
          class="w-full h-16 text-center rounded-lg text-gray-900 bg-blue-500"
          :loading="isRequesting"
          :disabled="!canSendMail"
          @click="submitForm"
        >
          {{ $t('reset_password_form_button') }}
        </m-button>
      </form>
      <div
        v-else 
        class="flex-1 flex items-center justify-center"
      >
        <font-awesome-icon
          icon="fa-solid fa-circle-check"
          style="color: green;"
          size="10x"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { useVuelidate }from '@vuelidate/core';
import { required, email } from '@vuelidate/validators';
import {library} from '@fortawesome/fontawesome-svg-core';
import { faCheckCircle } from '@fortawesome/free-solid-svg-icons';
import { NotificationMixin } from '../../mixins'
import { MButton, MInput } from '../../components/UI';

library.add(faCheckCircle);

export default {
    name:'PasswordResetPage',
    components: {
        MButton,
        MInput
    },
    mixins: [ NotificationMixin ],
    setup: () => {
        return {
            v$: useVuelidate()
        }
    },
    data () {
        return {
            email: '',
            isRequesting: false,
            isLinkSend: false,
        }
    },
    computed: {
        canSendMail() {
            return !this.v$.$invalid && !this.isRequesting
        },
    },
    methods: {
        async submitForm() {
            try {
                this.isRequesting = true;
                await this.$axios.single.post(
                    this.$routing.generate('password_reset'),
                    {
                        email: this.email,
                    }
                )
                this.notifySuccess('un email a ete envoye avec success')
                this.isLinkSend = true;
            } catch (error) {
                const firstError = error.response?.errors[0];
                this.notifyError(firstError ?? 'something wrong')
            } finally {
                this.isRequesting = false;
            }  
        },
    },
    validations () {
        return {
            email: { required, email},
        }
    },
}
</script>