<template>
  <section class="flex-1 flex items-center dark:bg-gray-800 dark:text-gray-100">
    <div class="flex-1 container grid grid-cols-6">
      <div class="col-span-4 flex flex-col justify-center pl-20">
        <h1 class="text-6xl font-semibold leading-none sm:text-6xl">
          <q>{{ $t('home_open_smartly') }}</q> 
        </h1>
      </div>
      <div class="col-span-2 flex items-center justify-center">
        <img
          src="../assets/coffret.png"
          alt=""
          class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
        >
      </div>
    </div>
  </section>
</template>
<script>
export default {
    name: 'HomePage',
    created() {
        this.getChallenges();
    },
    methods: {
        async getChallenges() {
            try {
                const result = await this.$axios.single.get('planner/');
            } catch (error) {
                console.log(error)
            }
        }
    }
}
</script>