<template>
  <button
    :type="type"
    class="btn"
    :class="btnClass"
    :disabled="disabled || loading"
    @click="onClick"
  >
    <div :class="btnContentClass">
      <slot name="default" />
    </div>
    <div v-if="loading">
      <spinner />
    </div>
  </button>
</template>

<script>
import Spinner from './Spinner.vue';

export default {
    name: 'MButton',
    components: {
        Spinner
    },
    props: {
        disabled: {
            type: Boolean,
            default: false,
        },
        loading: {
            type: Boolean,
            default: false,
        },
        rounded: {
            type: Boolean,
            default: false,
        },
        type: {
            type: String,
            default: 'button',
        }
    },
    emits: ['click'],
    computed: {
        btnClass: function () {
            const btnClass = {
                "opacity-25": this.disabled,
                "btn-loading": this.loading,
                "rounded-full": this.rounded
            };
            return btnClass;
        },
        btnContentClass: function () {
            return {
                "hidden" : this.loading
            };
        },
    },
    methods: {
        onClick: function (event) {
            if (!this.disabled && !this.loading) {
                this.$emit("click", event);
            }
        },
    },
};
</script>
