<template>
  <fieldset>
    <label
      class="block dark:text-gray-800 pb-2"
      :for="name"
    >
      <slot name="label">
        {{ label }}
      </slot>
    </label>
    <div class="relative flex w-full items-center ">
      <input
        ref="input"
        v-model="localValue"
        :type="isPassword ? inputType : type"
        :class="[formControlFieldClass]"
        class="w-full px-4 py-3 rounded-md  bg-gray-90 text-black focus:border-violet-400"
        :name="name"
        :maxlength="maxLength || ''"
        :autocomplete="autocomplete"
        :tabindex="inputTabIndex"
        :placeholder="placeholder"
        @input="onInput"
        @change="onChange"
        @keyup="$emit('keyup', $event)"
        @keypress="$emit('keypress', $event)"
        @paste="$emit('paste', $event)"
      >
      <span class="absolute right-0  pr-4 flex h-full items-center cursor-pointer">
        <font-awesome-icon
          v-if="isPassword"
          :icon="eyeIcon"
          style="color: #000000;"
          size="1x"
          @click="togglePassword()"
        />
      </span>
    </div>
    <div class="flex flex-col text-red-500">
      <slot name="errors" />
    </div>
  </fieldset>
</template>

<script>
import FormControl from './FormControl';
import { TogglePasswordMixin } from '../../mixins';

export default {
    name: 'MInput',
    mixins: [FormControl, TogglePasswordMixin],
    props: {
        value: {
            type: [String, Number],
            default: ''
        },
        type: {
            type: String,
            default: 'text',
        },
        maxLength: {
            type: Number,
            default: null,
        },
        autocomplete: {
            type: String,
            default: '',
        },
        inputTabIndex: {
            type: String,
            default: '',
        },
        placeholder: {
            type: String,
            default: '',
        },
        isPassword: {
            type: Boolean,
            default: false,
        },
    },
    emits: [
        'keyup',
        'keypress',
        'paste',
        'change',
        'input',
        'update:value'
    ],
    data() {
        return {
            localValue: this.value,
        }
    },
    watch: {
        value: function() {
            this.localValue = this.value;
        },
    },
    methods: {
        focus() {
            this.$refs.input.focus();
        },
        onChange: function() {
            this.$emit('change', this.localValue);
            this.$emit('update:value', this.localValue);
        },
        onInput: function() {
            this.$emit('input', this.localValue);
            this.$emit('update:value', this.localValue);
        },
    },
};
</script>
