<template>
  <fieldset>
    <label
      class="block dark:text-gray-800 pb-2"
      :for="name"
    >
      <slot name="label">
        {{ label }}
      </slot>
    </label>
    <div class="relative flex w-full items-center ">
      <select
        class="select select-primary w-full max-w-xs"  
        :name="name"
        :value="value"
        :tabindex="selectTabIndex"
        @change="onChange"
      >
        <option value="">
          -- {{ placeholder}} --
        </option>
        <slot name="default" />
      </select>
    </div>
    <div class="flex flex-col  text-red-500">
      <slot name="errors" />
    </div>
  </fieldset>
</template>

<script>
import FormControl from './FormControl';

export default {
    name: 'MSelect',
    mixins: [FormControl],
    props: {
        loading: {
            type: Boolean,
            default: false,
        },
        selectTabIndex: {
            type: String,
            default: '',
        },
        placeholder: {
            type: String,
            default: 'Selectionnez une valeur',
        },
    },
    emits: ['change', 'update:value'],
    methods: {
        onChange(event) {
            console.dir(event)
            this.$emit('update:value', event.target.value);
            this.$emit('change', event.target.value);
        },
    },
};
</script>
