<template>
  <div class="flex items-center justify-center">
    <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900" />
  </div>
</template>

<script>
export default {
    name: 'SpinnerComponent',
}
</script>
