<template>
  <fieldset>
    <label
      class="block dark:text-gray-800 pb-2"
      :for="name"
    >
      <slot name="label">
        {{ label }}
      </slot>
    </label>
    <textarea
      :id="inputId"
      v-model="localValue"
      :name="name"
      :maxlength="maxLength || ''"
      :rows="rows"
      :tabindex="textareaTabIndex"
      :disabled="disabled"
      class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400 dark:border-gray-700 dark:text-gray-900"
      @input="onInput"
      @change="onChange"
      @click="onClick"
    />
    <div class="assistive d-flex">
      <div
        v-if="!hasErrors"
        class="hint flex-1"
      >
        <slot name="hint">
          {{ hint }}
        </slot>
      </div>
      <div class="flex flex-col  text-red-500">
        <slot name="errors" />
      </div>

      <div
        v-if="counter"
        class="input-counter"
      >
        {{ valueLength }} / {{ maxLength }}
      </div>
      <div class="input-counter">
        <slot name="assistive-postfix" />
      </div>
    </div>
  </fieldset>
</template>

<script>
import FormControl from './FormControl';
import FormControlCounter from './FormControlCounter';

export default {
    name: 'MTextarea',
    mixins: [FormControl, FormControlCounter],
    props: {
        maxLength: {
            type: Number,
            default: null,
        },
        inputId: {
            type: String,
            default: null,
        },
        rows: {
            type: Number,
            default: 5,
        },
        textareaTabIndex: {
            type: String,
            default: '',
        },
        disabled: {
            type: Boolean,
            default: false,
        },
    },
    emits: [
        'input',
        'change',
        'update:value',
    ],
    data() {
        return {
            localValue: this.value,
        };
    },
    watch: {
        value() {
            this.localValue = this.value;
        },
    },
    methods: {
        onChange: function() {
            this.$emit('change', this.localValue);
            this.$emit('update:value', this.localValue);
        },
        onInput: function() {
            this.$emit('input', this.localValue);
            this.$emit('update:value', this.localValue);
        },
    },
};
</script>
