<script>
import Navbar from './components/utilities/Navbar.vue'
import UserInit from './components/UserInit.vue';
export default {
    components: {
        Navbar,
        UserInit,
    }
}
</script>

<template>
  <main class="w-screen min-h-screen flex flex-col items-center">
    <UserInit />
    <Navbar />
    <router-view />
  </main>
</template>

<style scoped>

</style>
