@tailwind base;
@tailwind components;
@tailwind utilities;

.show-password {
  position: absolute;
  right: 0;
  padding: 12px 15px;
  z-index: 2;
  /*color: $text-color-secondary-light;*/
}

.show-password:hover {
    cursor: pointer;
    /*color: $primary*/
}
.show-password-active {   
  position: absolute;
  right: 0;
  padding: 12px 15px;
  z-index: 2;
}